/*
 * Media Queries
 *
 * < 291px | 291px | 387px | 497px | 620px | 757px | 908px | 1072px | 1250px | >= 1442px
 *    10px    12px    13px    15px    16px    18px    20px     21px     23px        24px
 */
@media (min-width: 291px) {
  /*html {font-size: 75%;}*/
}
@media (min-width: 387px) {
  /*html {font-size: 81.25%;}*/
}
@media (min-width: 497px) {
  /*html {font-size: 93.75%;}*/
}
@media (min-width: 620px) {
  /*html {font-size: 100%;}*/
}
@media (min-width: 757px) {
  /*html {font-size: 112.5%;}*/
}
@media (min-width: 908px) {
  /*html {font-size: 125%;}*/
}
@media (min-width: 1072px) {
  /*html {font-size: 131.25%;}*/
}
@media (min-width: 1250px) {
  /*html {font-size: 143.75%;}*/
}
@media (min-width: 1442px) {
  /*html {font-size: 150%;}*/
}

/******************************************************************************/

/*
 * Fonts
 */
@font-face {
  font-family: 'DroidSansRegular';
  src: url('../fonts/DroidSans-webfont.eot');
  src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DroidSans-webfont.woff') format('woff'),
       url('../fonts/DroidSans-webfont.ttf') format('truetype'),
       url('../fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CrimsonRoman';
  src: url('../fonts/Crimson-Roman-webfont.eot');
  src: url('../fonts/Crimson-Roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Crimson-Roman-webfont.woff') format('woff'),
       url('../fonts/Crimson-Roman-webfont.ttf') format('truetype'),
       url('../fonts/Crimson-Roman-webfont.svg#CrimsonRoman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BloklettersBalpen';
  src: url('../fonts/Blokletters-Balpen-webfont.eot');
  src: url('../fonts/Blokletters-Balpen-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Blokletters-Balpen-webfont.woff') format('woff'),
       url('../fonts/Blokletters-Balpen-webfont.ttf') format('truetype'),
       url('../fonts/Blokletters-Balpen-webfont.svg#BloklettersBalpen') format('svg');
  font-weight: normal;
  font-style: normal;
}

/******************************************************************************/

/*
 * Settings
 */
html {font-size: 100%;}   /* remove this once media queries are active */
body {
  background-image: url("../img/corkboard.jpg");
  font-size: 100%;
  line-height: 1.61803398875em;
  font-family: DroidSansRegular;
  padding: 1em 0 0 5em;
  margin: 0;
  color: #333;
}
a, a:focus, a:active, a:hover {
  outline: 0;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {font-family: CrimsonRoman;}
h1 {
  font-size: 2em;
  line-height: 1.61803398875em;
  font-weight: normal;
}

/******************************************************************************/

/*
 * The Icons
 */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.svg#icomoon') format('svg'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.icon { font-size: 2em; }
.icon-new:before {content: "\e000";}
.icon-trash:before {content: "\e001";}
.icon-about:before {content: "\e002";}
.icon-cancel:before {content: "\e003";}
.icon-help:before {content: "\e004";}
.icon-checkmark:before {content: "\e005";}

/******************************************************************************/

/*
 * Sprites
 */
.device {
  float: left;
  margin: 0 0.25em;
  width: 48px;
  height:  48px;
  background-image: url('../img/sprite-devices.png');
}
.device-android {background-position: 0px 0px;}
.device-chrome {background-position: 0px -58px;}
.device-firefox {background-position: 0px -116px;}
.device-ie {background-position: 0px -174px;}
.device-opera {background-position: 0px -232px;}
.device-safari {background-position: 0px -290px;}

/******************************************************************************/

/*
 * The Notes
 */
ul#notesContainer li {
  float: left;
  box-sizing: content-box;
  margin: 1em;
  padding: 0 1em 1em 1em;
  width: 16em;
  list-style-type: none;
  background-color: #FFC;
  color: #444;
  font-family: BloklettersBalpen;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);

  -webkit-transform: rotate(-2deg);
     -moz-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
       -o-transform: rotate(-2deg);
          transform: rotate(-2deg);
}
ul#notesContainer li:nth-child(even) {
  position: relative;
  left: 0.5em;
  background-color: #CFC;

  -webkit-transform: rotate(4deg);
     -moz-transform: rotate(4deg);
      -ms-transform: rotate(4deg);
       -o-transform: rotate(4deg);
          transform: rotate(4deg);
}
ul#notesContainer li:nth-child(3n) {
  position: relative;
  top: -0.5em;
  background-color: #CCF;

  -webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
ul#notesContainer li:nth-child(5n) {
  position: relative;
  top: 0.5em;

  -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
       -o-transform: rotate(5deg);
          transform: rotate(5deg);
}
ul#notesContainer li:hover, ul#notesContainer li:focus {
  position: relative;
  z-index: 5;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);

  -webkit-transform: scale(1.25);
     -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
       -o-transform: scale(1.25);
          transform: scale(1.25);
}
ul#notesContainer li p.noteDate {
  font-size: 0.85em;
  line-height: 1.61803398875em;
  color: #777;
  font-style: italic;
  margin: -0.5em 0 0.5em 0;
}

/******************************************************************************/

/*
 * The Navigation
 */
nav {
  position: fixed;
  top:  0;
  left: 0;
  z-index: 2;
  height: 100%;
  padding: 0 0.5em;
  background-color: rgba(79, 86, 97, 0.9);
  border-right: 1px solid #B3C7E0;
}
nav li {
  display: block;
  padding: 0.85em 0.75em 1em 0.75em;
  margin: 0.75em 0;
  border:  1px solid #333;
  border-radius: 0.25em;

  background: rgb(125,126,125);
  background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1)));
  background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
  background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
  background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
  background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}
nav li:hover {
  color: #FFF;

  background: rgb(69,72,77);
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}
nav li:hover > a,
nav li:hover > a:visited,
nav li:hover > a:hover,
nav li:hover > a:active {color: #FFF;}
nav li a {
  display: block;
  color: #E5E6E4;
}
nav li a:hover {cursor: default;}
.tooltip {position: relative;}
.tooltip::before, .tooltip::after {
  position: absolute;
  bottom: 9999px;
  z-index: 999;
  opacity: 0;
  border-style: solid;

  -webkit-transition: opacity 0.4s ease-out;
     -moz-transition: opacity 0.4s ease-out;
       -o-transition: opacity 0.4s ease-out;
          transition: opacity 0.4s ease-out;
}
.tooltip::before {
  content: attr(data-tip) ;
  white-space:nowrap;
  left: 4.5em;
  background-color: #555;
  border-width: 1px;
  border-color: #C1C1C1;
  border-left: none;
  border-radius: 0.35em;
  color: #EEE;
  padding: 0.4em 1.25em;
}
.tooltip::after {
  content: ' ';
  height: 0;
  width: 0;
  border-color: transparent;
  border-width: 0.5em 1em 0.5em 0em;
  border-right-color: #555;
  left: 3.5em;
}
.tooltip:hover::before, .tooltip:hover::after {opacity: 0.85;}
.tooltip:hover::before {bottom: 0.5em;}
.tooltip:hover::after {bottom: 1.375em;}
#trashBin {
  position: fixed;
  bottom: 0;
}

/******************************************************************************/

/*
 * The "Add Note" Form
 */
div.formWrapper {
  position: fixed;
  top: 0em;
  left: 0em;
  width:  100%;
  padding: 2em 0;
  z-index: 999;
  color: #444;
  border-bottom: 2px solid #B2B2B2;
  box-sizing: border-box;

  -webkit-box-shadow:  0px 5px 5px 0px rgba(50, 50, 50, .85);
          box-shadow:  0px 5px 5px 0px rgba(50, 50, 50, .85);

  background: rgb(238,238,238);
  background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
  background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
  background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
  background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
  background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}
form p.success {
  margin: -1em -0.75em 0.5em 5em;
  background-color: #E6EFC2;
  border: 2px solid #C6D880;
  color: #264409;
  background-repeat: no-repeat;
  background-position: 1em 0;
  background-image: url(../img/checkmark.png);
  padding: 0.25em 0 0.15em 3.5em;
  opacity: 0;

  -webkit-transition: opacity 1s ease-in-out;
     -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
       -o-transition: opacity 1s ease-in-out;
          transition: opacity 1s ease-in-out;
}
form p.success-show {opacity: 1;}
form p.closeFormIcon {position: relative;}
form p.closeFormIcon a {
  position: absolute;
  top: -1em;
  right: -2em;
  color: #CA413B;
}
form p.closeFormIcon a:hover, form p.closeFormIcon a:active {color: #D74C47;}
textarea {width: 100%;}
input[type="text"] {width: 100%;}
#cancelButton {margin-left: 1em;}
/* Rewrite Some Twitter Bootstrap Settings */
form {
  width: 50%;
  margin: 0 auto;
}
.form-horizontal .control-label { width: 5em; font-weight: bold; }
.form-horizontal .controls {margin-left: 5em;}
.form-horizontal .control-group:last-child {margin-bottom: 0;}

/******************************************************************************/

/*
 * Help
 */
div.help {
  position:  fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  background-color: #F7F7F7;
  padding: 0 1em;
  border-left: 2px solid #DDD;

  -webkit-box-shadow:  -5px 0px 5px 0px rgba(50, 50, 50, 0.85);
          box-shadow:  -5px 0px 5px 0px rgba(50, 50, 50, 0.85);
}
div.help h1 {margin-bottom: -0.25em;}
div.help p {margin:  1em 0;}

/******************************************************************************/

/*
 * About Window
 */
#aboutWindow ul.technologies li {
  float: left;
  margin: 0 0.25em;
}
#aboutWindow ul.technologies li a {
  display: block;
  padding: 0 0.25em;
  border-radius: 0.15em;
}
#aboutWindow ul.technologies li a:hover {
  background-color: #86857F;
  color: #EEE;
}
#aboutWindow .deviceWrapper li:first-child {margin-left: 0;}
#aboutWindow .deviceWrapper li:last-child {margin-right: 0;}

/******************************************************************************/

/********
 * Custom
 *    ui-dialog
 *    ui-dialog-titlebar
 *    ui-dialog-content
 *    ui-dialog-buttonset
 */
.ui-dialog {
  background-color: #F2F1F0;
  border: 1px solid #ADA9A5;
  border-top: 1px solid #3C3B37;
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  padding: 0 16px;
  padding-bottom: 0.5em;
}
.ui-dialog-titlebar {
  border-top: 1px solid #65635B;
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  color: #DFDBD2;
  padding: 0 0.5em;
  margin: 0 -17px;

  background: rgb(77,76,71);
  background: -moz-linear-gradient(top,  rgba(77,76,71,1) 0%, rgba(61,60,56,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,76,71,1)), color-stop(100%,rgba(61,60,56,1)));
  background: -webkit-linear-gradient(top,  rgba(77,76,71,1) 0%,rgba(61,60,56,1) 100%);
  background: -o-linear-gradient(top,  rgba(77,76,71,1) 0%,rgba(61,60,56,1) 100%);
  background: -ms-linear-gradient(top,  rgba(77,76,71,1) 0%,rgba(61,60,56,1) 100%);
  background: linear-gradient(to bottom,  rgba(77,76,71,1) 0%,rgba(61,60,56,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4c47', endColorstr='#3d3c38',GradientType=0 );
}
.ui-dialog-content {margin-top: 1em;}
.ui-dialog-content p.closeDialogWrapper {position: relative;}
.ui-dialog-content a, .ui-dialog-content a:link, .ui-dialog-content a:visited {color: #E65F31;}
.ui-dialog-content p a, .ui-dialog-content p a:link, .ui-dialog-content p a:visited {
  position: absolute;
  top: -2.6em;
  right: -8px;
}
.ui-dialog-content a:hover, .ui-dialog-content a:active {color: #EE744D;}
.ui-dialog-content span.icon-cancel {
  text-shadow: 1px 1px 0px #3D3C37;
  filter: dropshadow(color=#3D3C37, offx=1, offy=1);
}
.ui-dialog-content hr {
  margin: 0.25em -1em 0.5em -1em;
  border-top: 1px solid #DAD7D5;
  border-bottom: 1px solid #FBFBFB;
  border-right: none;
  border-left: none;
}
.ui-dialog-buttonset {text-align: right;}

/******************************************************************************/

/********
 *  Custom ui-draggable classes for jQueryUi
 *******/
.ui-draggable { cursor: move; }
ul li.ui-draggable-dragging {
  opacity: 0.75;
  z-index: 999;
  background-color: #FEBBBB;
  font-size: 0.5em;
  line-height: 1.61803398875em;
  width: 8em;
  height: 8em;
  overflow: hidden;
}
.trash-highlight {
  color: #FFF;

  background: rgb(69,72,77);
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );

  -webkit-transform: scale(1.25);
     -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
       -o-transform: scale(1.25);
          transform: scale(1.25);
}
.trash-hover {
  background: rgb(169,3,41);
  background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
  background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
  background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
  background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
  background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}
.ui-effects-transfer {
  z-index: 999;
  border: 1px dotted #444;
}
