<!doctype html>
<html lang="en" ng-app="mcsas">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Sticky Notes</title>

    <!-- scripts -->
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/jquery-ui.min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/effects.js"></script>

    <!-- styles -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/stickys.css" />
  </head>

  <body ng-controller="NotesController">

    <!-- Navigation, User Control Panel -->
    <nav>
      <li class="tooltip" id="addNote" data-tip="New Sticky Note"><a class="icon icon-new"></a></li>
      <li class="tooltip" id="showHelp" data-tip="Help"><a class="icon icon-help"></a></li>
      <li class="tooltip" id="showAbout" data-tip="About"><a class="icon icon-about"></a></li>
      <li class="tooltip" id="trashBin" data-tip="Trash"><a class="icon icon-trash"></a></li>
    </nav>

    <!-- the notes -->
    <ul class="clearfix" id="notesContainer">
      <li ng-repeat="note in notes" class="aNote" id="{{ note.date }}" my-post-repeat-directive>
        <h1>{{ note.title }}</h1>
        <p class="noteDate">{{ note.date | date:'EEE, MMMM d @ h:mm a' }}</p>
        <p>{{ note.msg }}</p>
      </li>
    </ul>

    <!-- Add note form -->
    <div class="formWrapper" id="formWrapper">
      <form class="form-horizontal" ng-submit="addNote()">

        <!-- success msg -->
        <p class="success" id="success">Sticky note added</p>

        <!-- close icon -->
        <p class="closeFormIcon"><a id="closeIcon"><span class="icon-cancel"></span></a></p>

        <!-- note body textarea -->
        <div class="control-group">
          <label class="control-label" for="noteMessage">Note</label>
          <div class="controls"><textarea rows="5" id="noteMessage" ng-model="noteMessage"></textarea></div>
        </div>

        <!-- title textbox -->
        <div class="control-group">
          <label class="control-label" for="noteTitle">Title</label>
          <div class="controls"><input type="text" id="noteTitle" ng-model="noteTitle" placeholder="Optional Title"/></div>
        </div>

        <!-- submit button -->
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary"><span aria-hidden="true" class="icon-new"></span> Add</button>
            <button type="button" class="btn btn-danger" id="cancelButton"><span aria-hidden="true" class="icon-cancel"></span> Cancel</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Help -->
    <div class="help" id="help">
      <h1>Help</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <!-- About -->
    <div class="aboutWindow" id="aboutWindow" title="About Sticky Notes">
      <p class="closeDialogWrapper"><a href="#" id="closeDialog"><span class="icon-cancel"></span></a></p>

      <article>
        <header>
          <h1>Sticky Notes</h1>
          <h2>1.0.0</h2>
          <p>McSas Sticky Notes for modern web browsers.</p>
        </header>
        <p>McSas Sticky Notes is designed by Michael Clune and Scott Solomko.</p>
        <h3>Built for:</h3>
        <ul class="clearfix deviceWrapper">
          <li class="device device-chrome"></li>
          <li class="device device-firefox"></li>
          <li class="device device-ie"></li>
          <li class="device device-opera"></li>
          <li class="device device-safari"></li>
        </ul>
      </article>

      <hr />

      <h3>Technologies, Software and Resources</h3>
      <ul class="technologies clearfix">
        <li><a href="http://angularjs.org/">Angular JS</a></li>
        <li><a href="http://compass-style.org/">Compass</a></li>
        <li><a href="http://www.w3schools.com/css3/css3_intro.asp">CSS3</a></li>
        <li><a href="http://css3generator.com/">CSS3 Generator</a></li>
        <li><a href="http://www.gimp.org/">Gimp</a></li>
        <li><a href="http://github.com/">GitHub</a></li>
        <li><a href="http://code.google.com/p/gpick/">Gpick</a></li>
        <li><a href="http://www.w3schools.com/html/html5_intro.asp">HTML5</a></li>
        <li><a href="http://icomoon.io/">IcoMoon</a></li>
        <li><a href="http://jquery.com/">jQuery</a></li>
        <li><a href="http://jqueryui.com/">jQuery UI</a></li>
        <li><a href="http://net.tutsplus.com/">Nettuts+</a></li>
        <li><a href="http://phonegap.com/">PhoneGap</a></li>
        <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
        <li><a href="http://www.typetester.org/">Typetester</a></li>
        <li><a href="http://www.colorzilla.com/gradient-editor/">Ultimate CSS Gradient Generator</a></li>
        <li><a href="http://www.vim.org/">Vim</a></li>
        <li><a href="http://webdesign.tutsplus.com/">Webdesigntuts+</a></li>
      </ul>

      <hr />
    </div>

  </body>
</html>
