<!doctype html>
<html lang="en" ng-app="mcsas">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <title>Sticky Notes</title>

    <!-- scripts -->
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/jquery-ui.min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/effects.js"></script>

    <!-- styles -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/stickys.css" />
  </head>

  <body ng-controller="NotesController">

    <!-- Navigation, User Control Panel -->
    <nav>
      <li class="tooltip" id="addNote" data-tip="New Sticky Note"><a class="icon icon-new"></a></li>
      <li class="tooltip" id="showHelp" data-tip="Help"><a class="icon icon-help"></a></li>
      <li class="tooltip" id="showAbout" data-tip="About"><a class="icon icon-about"></a></li>
      <li class="tooltip" id="trashBin" data-tip="Trash"><a class="icon icon-trash"></a></li>
    </nav>

    <!-- the notes -->
    <ul class="clearfix" id="notesContainer">
      <li ng-repeat="note in notes" class="aNote" id="{{ note.date }}" my-post-repeat-directive>
        <h1>{{ note.title }}</h1>
        <p class="noteDate">{{ note.date | date:'EEE, MMMM d @ h:mm a' }}</p>
        <p>{{ note.msg }}</p>
      </li>
    </ul>

    <!-- Add note form -->
    <div class="formWrapper" id="formWrapper">
      <form class="form-horizontal" ng-submit="addNote()">

        <!-- success msg -->
        <p class="success" id="success">Sticky note added</p>

        <!-- close icon -->
        <p class="closeFormIcon"><a id="closeIcon"><span class="icon-cancel"></span></a></p>

        <!-- note body textarea -->
        <div class="control-group">
          <label class="control-label" for="noteMessage">Note</label>
          <div class="controls"><textarea rows="5" id="noteMessage" ng-model="noteMessage"></textarea></div>
        </div>

        <!-- title textbox -->
        <div class="control-group">
          <label class="control-label" for="noteTitle">Title</label>
          <div class="controls"><input type="text" id="noteTitle" ng-model="noteTitle" placeholder="Optional Title"/></div>
        </div>

        <!-- submit button -->
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary"><span aria-hidden="true" class="icon-new"></span> Add</button>
            <button type="button" class="btn btn-danger" id="cancelButton"><span aria-hidden="true" class="icon-cancel"></span> Cancel</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Help -->
    <div class="help" id="help">
      <div class="h1Wrapper">
        <h1>Help</h1>
        <p class="closeHelpIconWrapper"><a href="#" id="closeHelpIcon" class="icon-cancel"></a></p>
      </div>

      <article>
        <!-- Creating a new Sticky Note -->
        <h2>Creating a New Sticky Note</h2>
        <div>
          <ol>
            <li>
              Click on the "<strong>New Sticky Note</strong>" icon, you will then be
              presented with a form to enter the notes details.
            </li>
            <li>
              In the field labeled "<strong>Note</strong>" is where you can type the
              body of the note.
            </li>
            <li>
              You can optionally give your note a title by typing into the field that
              is labeled "<strong>Title</strong>".
            </li>
            <li>
              Once you are finished typing the title of the note, you can simply press
              the "<strong>enter</strong>" key on your keyboard or click on the
              "<strong>Add</strong>" button.
            </li>
            <li>
              After either pressing the "<strong>enter</strong>" key or clicking on
              the "<strong>Add</strong>" button, you will be presented with a message
              letting you know that your note has been successfully added and the
              form will remove itself from the screen.
            </li>
          </ol>
        </div>

        <!-- Deleting a Sticky Note -->
        <h2>Deleting a Sticky Note</h2>
        <div>
          <ol>
            <li>
              To remove a sticky note, "<strong>drag</strong>" the note that you wish
              to delete towards the <strong>Trash</strong>.
            </li>
            <li>
              You will know when you are over the <strong>Trash</strong> when the
              <strong>Trash icon becomes highlighted</strong>.
            </li>
            <li>
              While the <strong>Trash is highlighted</strong>, release the note.
              Your note has been deleted.
            </li>
          </ol>
        </div>

        <!-- Getting additional Support -->
        <h2>Getting Additional Support</h2>
        <div>
          <p>
            If you have further questions please visit our
            <a href="https://github.com/ScottSolomko/Angular-Sticky-Notes/issues">
              Issue tracker hosted on GitHub
            </a>.
            You can submit your questions there and also read previously asked questions.
          </p>
        </div>

        <!-- Reporting a Bug -->
        <h2>Reporting a Bug</h2>
        <div>
          <p>
            If you find a bug (the application produces an error) please report the
            error using our
            <a href="https://github.com/ScottSolomko/Angular-Sticky-Notes/issues">
              Issue tracker hosted on GitHub
            </a>. When reporting a bug please include the following information:
          </p>
          <ul>
            <li>The <strong>Browser and its version number</strong> that you are using</li>
            <li>The <strong>Operating System and its version</strong> that you are using</li>
          </ul>
          <p>
            By submitting the above requested information accurately will help
            us to recreate your environment and also the error that you have
            encountered so we can troubleshoot it.
          </p>
        </div>

        <!-- Requesting a New Feature -->
        <h2>Requesting a New Feature</h2>
        <div>
          <p>
            If you would like to see a new feature added to the application please
            visit our
            <a href="https://github.com/ScottSolomko/Angular-Sticky-Notes/issues">
              Issue tracker hosted on GitHub
            </a>
            where you can make your request and also see what others are requesting.
          </p>
        </div>

      </article>
    </div>

    <!-- About -->
    <div class="aboutWindow" id="aboutWindow" title="About Sticky Notes">
      <p class="closeDialogWrapper"><a href="#" id="closeDialog"><span class="icon-cancel"></span></a></p>

      <article>
        <header>
          <h1>Sticky Notes</h1>
          <p class="version">ver 0.9.0</p>
          <p class="tagline">McSas Sticky Notes for modern web browsers.</p>
        </header>

        <hr />

        <p>
          Designed and maintained by
          <a href="https://github.com/spdrcr78" rel="author">Michael Clune</a>
          and <a href="https://github.com/ScottSolomko" rel="author">Scott Solomko</a>.
          This web app is an open source project and is freely available for
          <a href="https://github.com/ScottSolomko/Angular-Sticky-Notes">download on GitHub</a>.
          We created McSas Sticky Notes entirely with other freely available software,
          most of which is also open source.
        </p>

      </article>

      <hr />

      <h2>Technologies, Software and Resources</h2>
      <ul class="technologies clearfix">
        <li><a href="http://angularjs.org/">Angular JS</a></li>
        <li><a href="http://compass-style.org/">Compass</a></li>
        <li><a href="http://www.w3schools.com/css3/css3_intro.asp">CSS3</a></li>
        <li><a href="http://css3generator.com/">CSS3 Generator</a></li>
        <li><a href="http://favicon-generator.org/">Favicon Generator</a></li>
        <li><a href="http://www.fontsquirrel.com/">Font Squirrel</a></li>
        <li><a href="http://www.gimp.org/">Gimp</a></li>
        <li><a href="http://github.com/">GitHub</a></li>
        <li><a href="http://code.google.com/p/gpick/">Gpick</a></li>
        <li><a href="http://www.w3schools.com/html/html5_intro.asp">HTML5</a></li>
        <li><a href="http://icomoon.io/">IcoMoon</a></li>
        <li><a href="http://jquery.com/">jQuery</a></li>
        <li><a href="http://jqueryui.com/">jQuery UI</a></li>
        <li><a href="http://net.tutsplus.com/">Nettuts+</a></li>
        <li><a href="http://phonegap.com/">PhoneGap</a></li>
        <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
        <li><a href="http://www.typetester.org/">Typetester</a></li>
        <li><a href="http://www.colorzilla.com/gradient-editor/">Ultimate CSS Gradient Generator</a></li>
        <li><a href="http://www.vim.org/">Vim</a></li>
        <li><a href="http://webdesign.tutsplus.com/">Webdesigntuts+</a></li>
      </ul>

      <hr />
    </div>

  </body>
</html>
